/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin_cyrillic-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat Medium"), local("Montserrat-Medium"),
    url("../fonts/montserrat-v14-latin_cyrillic-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin_cyrillic-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
    url("../fonts/montserrat-v14-latin_cyrillic-600.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin_cyrillic-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin_cyrillic-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-800 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"),
    url("../fonts/montserrat-v14-latin_cyrillic-800.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin_cyrillic-800.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
  color: #323232;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
}

/*header styles start*/

.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100px;
  border-bottom: 1px solid #a1a1a1;
}

.header-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header-nav {
  margin-top: 40px;
}
.header-nav-list {
  display: flex;
  flex-wrap: wrap;
}

.header-nav-list-item {
  margin-right: 40px;
}
.header-nav-list-item:last-child {
  margin-right: 0px;
}

.header-nav-list-item-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: #ffffff;
}
.header-nav-list-item-link:hover {
  border-bottom: 2px solid #ffffff;
  padding-bottom: 39px;
}
.header-nav-list-item-link:hover,
.header-nav-list-item-link:focus,
.header-nav-list-item-link:active {
  opacity: 0.75;
}


/*header styles end*/

/*intro styles start*/
.intro {
  height: 100vh;
  background: url(/img/jpg/Rectangle.jpg) no-repeat center;
  background-size: cover;
}

.intro_pretitle {
  padding-top: 259px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  max-width: 175px;
  max-height: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.intro_title {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: #FFFFFF;
  max-width: 829px;
  max-height: 111px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.div_button{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.first-screen_button {
  width: 200px;
  height: 45px;
  background-color: transparent;
  background: url(/img/png/button.png) no-repeat center;
  background-size: contain;
  border: 0;
}
.button_signature {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  /*padding: 36px 13px 36px 15px;*/
}
/*intro styles end*/

/*our_services style start*/

.our_services {
  height: 603px;
  background-color: #ffffff;
}

.our_services_title {
  max-width: 739px;
  max-height: 88px;
  margin: 0 auto;
  margin-top: 110px;
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  text-align: center;
  color: #323232;
}

.our_services_under-title {
  max-width: 730px;
  max-height: 41px;
  margin: 0 auto;
 
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #999999;
  margin-bottom: 70px;
}
.services_items {
  margin-bottom: 55px;
}
.services_items_list {
  display: flex;
  flex-wrap: wrap;
}
.services_item {
  width: 353px;
  height: 139px;
  padding-top: 46px;
  padding-left: 127px;
  background: url(/img/png/services_item_icon.png) no-repeat;
}

.services_item_title {
  max-width: 226px;
  max-height: 23px;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin-bottom: 12px;
}
.services_item_description {
  max-width: 222px;
  max-height: 58px;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #999999;
}

/*our_services style end*/

/*hi_standart style start*/

.hi_standart {
  height: 797px;
  background-color: #f6f6f8;
}

.hi_standart  .wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  padding-top: 100px;

  border-bottom: 1px solid #E0E0E0;
  padding-bottom: 90px;
}

.hi_standart_article{
  padding-top: 52px;
}
.hi_standart_title {
  max-width: 424px;
  max-height: 88px;
  font-weight: bold;
  font-size: 36px;
  line-height: 53px;
  color: #323232;
  margin-bottom: 40px;
}
.hi_standart_under-title {
  max-width: 489px;
  max-height: 117px;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: #999999;
  margin-bottom: 30px;
}
.hi_standart_link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #4985FF;
}

.our_project_items {
  max-width: 1110px;
  margin: 0 auto;
}
.our_project_items_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 95px;
  margin-right: 95px;
}

.project_item_number {
  display: inline-block;
  max-width: 54px;
  max-height: 35px;
  font-weight: normal;
  font-size: 36px;
  line-height: 53px;
  color: #000000;
  margin-bottom: 17px;
}
.project_item_img {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-bottom: 15px;
  margin-right: 20px;
}
/*hi_standart style end*/
