@import "./settings";

section.intro {
    height: 100vh;
    background: url(/img/intro/Rectangle.jpg);
    background-size: cover;
    div.wrap {
        max-width: 1110px;
        margin: 0 auto;
      header.header {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          width: 100%;
          height: 100px;
        div.nav-null {}
  
        nav.nav {
          ul.nav-list {
              display: flex;
              flex-wrap: wrap;
            li.nav-list__link.nav-list__link_active {
              a {
  
              }
            }
  
            li.nav-list__link {
                margin-right: 40px;
                margin-top: 40px;
              a {
                font-weight: 500;
                font-size: 16px;
                line-height: 20px;
                text-decoration: none;
                color: #ffffff;
                &:hover,
                &:focus,
                &:active {
                    opacity: 0.75;
                }
                &:hover {
                    border-bottom: 2px solid #ffffff;
                    padding-bottom: 39px;
                }
              }
              &:last-child {
                  margin-right: 0;
              }
            }
          }
        }
      }
    }
    div.intro__line-under-header {
        width: 100%;
        height: 1px;
        border-bottom: 1px solid #a1a1a1; }
    div.wrap {
      div.main-intro {
        div.main-intro__pretitle {
            padding-top: 259px;
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
            color: #FFFFFF;
            max-width: 175px;
            max-height: 20px;
            margin: 0 auto;
            margin-bottom: 20px;
        }
  
        div.main-intro__title.title {
            font-weight: 800;
            font-size: 48px;
            line-height: 64px;
            color: #FFFFFF;
            max-width: 829px;
            max-height: 111px;
            margin: 0 auto;
            margin-bottom: 63px;
            text-align: center;
        }
  
        div.main-intro__button.button {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            button {
                width: 200px;
                height: 45px;
                background-color: transparent;
                background: url(/img/navigation/button.png) no-repeat center;
                background-size: cover;
                border: 0;
                p.button_signature {
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    text-align: center;
                    color: #FFFFFF;
                }
            }
        }
      }
    }
  }
  section.our-services {
        height: 603px;
        background-color: #ffffff;
    div.wrap {
            max-width: 1110px;
            margin: 0 auto;
      h1.our-services__title {
                max-width: 739px;
                max-height: 88px;
                margin: 0 auto;
                margin-top: 110px;
                margin-bottom: 50px;
                font-weight: bold;
                font-size: 36px;
                line-height: 53px;
                text-align: center;
                color: #323232;
            }
  
      p.our-services__under-title {
                max-width: 730px;
                max-height: 41px;
                margin: 0 auto;
                font-weight: normal;
                font-size: 16px;
                line-height: 25px;
                text-align: center;
                color: #999999;
                margin-bottom: 70px;
            }
  
      div.services-block {
        ul {
            display: flex;
            flex-wrap: wrap;
          li {
            div.services-block__services-box.services-box {
                width: 353px;
                height: 139px;
                padding-top: 46px;
                padding-left: 127px;
                background: url(/img/png/services_item_icon.png) no-repeat;
                margin-bottom: 55px;
                h3.services-box__title {
                    max-width: 226px;
                    max-height: 23px;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 22px;
                    color: #000000;
                    margin-bottom: 12px;
              }
  
              p.services-box__description {
                    max-width: 222px;
                    max-height: 58px;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 22px;
                    color: #999999;
              }
            }
          }
        }
      }
  
      div.button {
        button.services-button__btn {
          p.services-button__signature {
  
          }
        }
      }
    }
  }